/*
Slightly Better CSS was created by printerscanner at https://github.com/printerscanner/slightly-better-css
If you like the project, feel free to give it a star.
*/

* {
	box-sizing: border-box;
}

/* Variables */

:root {
	--accent-color: #3333ee;
	--background-color: #ffffff;
	--font-family: system-ui, -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
	--font-size: 110%;
	--muted-color: #f6f6f6;
	--text-color: #000000;
}

/* Typography */
body {
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: var(--font-size);
	line-height: 1.4;
	word-break: break-word;
}

body,
input {
	font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	line-height: 1.2;
}

h1 {
	font-size: 250%;
}

h2 {
	font-size: 175%;
}

h3 {
	font-size: 150%;
}

h4,
h5,
h6 {
	font-size: 100%;
}



a {
	color: var(--text-color);
	font-weight: inherit;
}

a:hover,
a:focus {
	color: var(--accent-color);
	text-decoration: underline;
}

time {
	font-weight: bold;
}

sub {
	font-size: 60%;
	vertical-align: bottom;
}

small {
	font-size: 80%;
}

blockquote,
q {
	background: var(--muted-color);
	border-left: 8px solid var(--accent-color);
	display: block;
	padding: 1rem;
	border-radius: 4px;
	margin: 2rem 0;
}

kbd,
code,
samp,
pre,
var {
	font-family: Menlo, monospace;
	font-size: 75%;
}

var {
	font-style: normal;
}

pre {
	padding: 1rem 1.2rem;
}

code,
pre {
	color: var(--accent-color);
	background: var(--muted-color);
	overflow: auto;
}



/* Additional Elements */


hr {
	background: var(--text-color);
	border: 0;
	height: 1px;
	margin: 4rem 0;
}

img {
	display: block;
	height: auto;
	max-width: 75%;
}

figure {
	padding: 1rem;
	width: 100%;
	margin: auto;
}

figure img {
	margin: 0 auto;
}

figure figcaption {
	font-size: 80%;
	margin-top: 0.5rem;
	text-align: center;
}

footer, header {
	margin: 3rem 0;
}

main {
	max-width: 75ch;
	margin: auto;
}

ul,
ol {
	line-height: 2;
}

section {
	margin: 5rem 0;
}

table {
	border: 1px solid var(--accent-color);
	border-collapse: collapse;
	table-layout: fixed;
	text-align: left;
	width: 100%;
}

table caption {
	margin: 1rem 0;
}

table tbody tr:nth-child(even) {
	background: var(--muted-color);
}

table th {
	background: var(--accent-color);
	font-weight: 400;
	color: var(--background-color);
}

table th,
table td {
	padding: 1rem;
}

input {
	appearance: none;
	border: 1px solid var(--accent-color);
	background: var(--muted-color);
	color: var(--text-color);
	display: block;
	margin: 0.5rem 0;
	padding: 0.5rem;
	font-size: 80%;
}

input:focus,
input:active {
	background-color: var(--muted-color);
	border-color: var(--accent-color);
}

button {
	text-decoration: none;
	font-weight: 700;
	font-size: 100%;
	padding: 16px;
	background-color: var(--accent-color);
	border-radius: 6px;
	margin: 10px 10px 10px 0px;
	color: var(--background-color);
	display: inline-block;
	border: none;
}

button:hover {
	color: var(--background-color);
	background-color: var(--text-color);
	transition: .2s;
}
